body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    transition: all 1s ease;
}
.avatar:hover {
    transform: scale(1.5 );
    box-shadow: 3px 3px 5px #000;

}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ffbe0b50;
    color: #2b2839;
    border-bottom: 6px solid #fb5607;
    border-radius: 20px;
    box-shadow: 5px 10px;   

}
.card:hover {
    background: #c1121f;
    border-bottom: 6px solid #780000;
    color: #fdf0d5;
}

.border-blue {
    border: 1px dotted blue;
}

